<nav class="navbar navbar-expand-md bg-body-light border-bottom sticky-top">
    <div class="container-fluid">
        <a class="navbar-brand" href="/listings"><i class="fa-regular fa-compass"></i></a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavAltMarkup">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
            <div class="navbar-nav">
                
                <b><a class="nav-link" href="/listings">Explore</a></b>
            </div>
            <div class="navbar-nav ms-auto">
                <b><a class="nav-link mt-2" href="/listings/new" >Airbnb you home</a></b>
                <% if(!currUser) { %>
                
                <a class="nav-link a1 " href="/signup"><button class="btn btn-danger">Sign Up</button></a>
                <a class="nav-link a1 " href="/login"><button class="btn btn-danger">Login</button></a>
                
                <%}%>
                <% if(currUser) { %>
                    <a class="nav-link a1 " href="/logout"><button class="btn btn-danger">Log out</button></a>
                
                <%}%>
            </div>
        </div>
    </div>
</nav>