<nav class="navbar navbar-expand-md bg-body-light border-bottom sticky-top">
    <div class="container-fluid">
        <a class="navbar-brand" href="/"><i class="fa-regular fa-compass"></i></a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavAltMarkup">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
            <div class="navbar-nav">
                <a class="nav-link " href="/">Home</a>
                <a class="nav-link" href="/listings">All Listings</a>
                <a class="nav-link" href="/listings/new">Add new Listing</a>
            </div>
            <div class="navbar-nav ms-auto">
                <% if(!currUser) { %>
                <a class="nav-link " href="/signup">Sign Up</a>
                <a class="nav-link" href="/login">Login</a>
                <%}%>
                <% if(currUser) { %>
                <a class="nav-link" href="/logout">Log out</a>
                <%}%>
            </div>
        </div>
    </div>
</nav>