<style>
    .danger2{
        background-color: #fe424d;
        color: #fff;
        border-radius: 25px;
    }
    .danger2 i{
        display: inline;
        margin-right: 0.5rem;
    }
    .ss{
        border-radius: 25px;
        padding: 0.5rem 2rem 0.5rem 2rem;
        font-size: 1rem;

    }
</style>

<nav class="navbar navbar-expand-md bg-body-light border-bottom sticky-top">
    <div class="container-fluid">
        <a class="navbar-brand" href="/listings"><i class="fa-regular fa-compass"></i></a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavAltMarkup">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
            <div class="navbar-nav">

                <b><a class="nav-link" href="/listings">Explore</a></b>
            </div>
            <div class="navbar-nav ms-auto">
                <div class="navbar-nav ms-auto">
                    <form class="d-flex" method="get" action="/search">
                        <input class="form-control me-2 ss" type="search" id="searchInput" name="query" placeholder="Search destinations">
                        <button class="btn btn-danger danger2" type="submit">
                            <i class="fa-solid fa-magnifying-glass"></i>Search
                        </button>
                    </form>
                    
                </div>
                 
            </div>

            <div class="navbar-nav ms-auto">
                <b><a class="nav-link mt-2" href="/listings/new">Airbnb your home</a></b>
                <% if(!currUser) { %>

                    <a class="nav-link a1 " href="/signup"><button class="btn btn-danger">Sign Up</button></a>
                    <a class="nav-link a1 " href="/login"><button class="btn btn-danger">Login</button></a>

                    <%}%>
                        <% if(currUser) { %>
                            <a class="nav-link a1 " href="/logout"><button class="btn btn-danger">Log out</button></a>

                            <%}%>
            </div>
        </div>
    </div>
</nav>
<script>
    function searchListings() {
  const searchValue = document.getElementById('searchInput').value;

  fetch(`/search?query=${encodeURIComponent(searchValue)}`)
    .then(response => response.json())
    .then(data => {
      const searchResultsDiv = document.getElementById('searchResults');
      searchResultsDiv.innerHTML = '';

      if (data.length > 0) {
        data.forEach(listing => {
          const listingElement = document.createElement('div');
          listingElement.innerText = listing.title; // Assuming 'title' is the field you want to display
          searchResultsDiv.appendChild(listingElement);
        });
      } else {
        searchResultsDiv.innerText = 'Listing not found';
      }
    })
    .catch(error => console.error('Error fetching listings:', error));
}

</script>