<% layout("/layouts/boilerplate")%>

    <body>
        
        <h3>All Listings</h3>
        <!-- <form method="get" action="/listings/new">
        <button>Create New Listing</button>
    </form> -->
    <div class="row row-cols-lg-3 row-cols-md-2 row-cols-sm-1">

        <% for(let listing of allListings) { %>
            <a href="/listings/<%= listing._id %>" style="text-decoration: none;">
            <div class=" col listing-card card " >
                <img src="<%= listing.image %>>" class="card-img-top" style= "height: 20rem; width: 20rem;" alt="listing_image">
                <div class="card-img-overlay"></div>
                <div class="card-body">
                    <p class="card-text">
                        <b><%=listing.title%></b><br>
                        &#8377; <%= listing.price != null ? listing.price.toLocaleString("en-IN"): '' %> / night
                        <br>
                        
                    </p>
                </div>
            </div>
            </a>
            <% } %>
        </div>     </body>