<% layout("/layouts/boilerplate")%>

    <style>
        #filters{
            display: flex;
            flex-wrap: wrap;
        }
        .filter{
            text-align: center;
            margin-right: 2rem;
            margin-top: 2rem;
            opacity: 0.7;
        }
        .filter:hover{
            opacity: 1;
            cursor: pointer;
        }
        .tax-toggle{
            display: flex;
            height: 45px;
            justify-content: center;
            align-items: center;
            margin-top: 35px;
            width: 250px;
        }
    .tax-info{
        display: none;
    }
    </style>

    {*<div id="filters">
        <div class="filter">
            <div> <i class="fa-solid fa-fire"></i></div>
            <p>Trending</p>
        </div>
        <div class="filter">
            <div> <i class="fa-solid fa-bed"></i></div>
            <p>Rooms</p>
        </div>
        <div class="filter">
            <div><i class="fa-solid fa-mountain-city"></i></div>
            <p>Iconic cities</p>
        </div>
        <div class="filter">
            <div> <i class="fa-solid fa-mountain"></i></div>
            <p>Mountains</p>
        </div>
        <div class="filter">
            <div> <i class="fa-brands fa-fort-awesome"></i></div>
            <p>Castles</p>
        </div>
        <div class="filter">
            <div><i class="fa-solid fa-person-swimming"></i></div>
            <p>Amazing Pools</p>
        </div>
        <div class="filter">
            <div> <i class="fa-solid fa-campground"></i></div>
            <p>Camping</p>
        </div>
        <div class="filter">
            <div> <i class="fa-solid fa-cow"></i></div>
            <p>Farms</p>
        </div>
        <div class="filter">
            <div><i class="fa-regular fa-snowflake"></i></div>
            <p>Arctic</p>
        </div>
        <div class="filter">
            <div><i class="fa-solid fa-house-fire"></i></div>
            <p>Design</p>
        </div>
        <div class="tax-toggle card ">
            <div class="form-check-reverse form-switch">
                <input class="form-check-input" type="checkbox" role="switch" id="flexSwitchCheckDefault">
                <label class="form-check-label" for="flexSwitchCheckDefault">Display total after taxes</label>
              </div>
        </div>
    </div>*}

    <div class="row row-cols-lg-3 row-cols-md-2 row-cols-sm-1 mt-3">

        <% for(let listing of allListings) { %>
            <a href="/listings/<%= listing._id %>" style="text-decoration: none;">
                <div class=" col listing-card card ">
                    <img src="<%= listing.image.url %>" class="card-img-top" style="height: 20rem; width: 20rem;"
                        alt="listing_image">
                    <div class="card-img-overlay"></div>
                    <div class="card-body">
                        <p class="card-text">
                            <b>
                                <%=listing.title%>
                            </b><br>
                            &#8377; <%= listing.price !=null ? listing.price.toLocaleString("en-IN"): '' %> / night
                            <i class="tax-info">&nbsp; +18% GST</i>
                                <br>

                        </p>
                    </div>
                </div>
            </a>
            <% } %>
    </div>

    <script>
    let taxSwitch=document.getElementById("flexSwitchCheckDefault");
    taxSwitch.addEventListener("click",()=>{
        let taxInfo=document.getElementsByClassName("tax-info");
        for(info of taxInfo){
            if(info.style.display !="inline"){
                info.style.display="inline";
            }
            else{
                info.style.display="none";

            }
        }
    })
    </script>
