<% layout("/layouts/boilerplate")%>
<body>
    <div class="row">
        <div class="col-8 offset-2">
            <br><br>
            <h3>Create a new Listing</h3><br>
        <form method="post" action="/listings" novalidate class="needs-validation ">
            <div class="mb-3">
                <label for="title" class="form-label ">Title</label>
                <input name="listing[title]" placeholder="title" type="text" class="form-control" required>
                <div class="valid-feedback">Title looks good</div>
            </div>
            <div class="mb-3">
                <label for="description" class="form-label ">Description</label>
                <textarea name="listing[description]"  type="text" class="form-control" required></textarea>
                <div class="invalid-feedback">please enter short description</div>
            </div>
            <div class="mb-3">
                <label for="image" class="form-label ">Image Link</label>
                <input name="listing[image]" placeholder="image URL/Link" type="text" class="form-control" >
            </div>
            <div class="row">
                <div class="mb-3 col-md-4">
                    <label for="price" class="form-label ">Price</label>
                    <input name="listing[price]" placeholder="eg-1200"  class="form-control" required>
                    <div class="invalid-feedback">Enter valid price</div>
                </div>
                <div class="mb-3 col-md-8">    
                    <label for="country" class="form-label ">Country</label>
                    <input name="listing[country]" placeholder="eg-India" type="text" class="form-control" required>
                    <div class="invalid-feedback">Enter country name</div>
                </div>
            </div>
                <div class="mb-3">
                    <label for="location" class="form-label ">location</label>
                    <input name="listing[location]" placeholder="eg-Jaipur,Rajasthan" type="text" class="form-control" required>
                    <div class="invalid-feedback">Enter valid location</div>
            </div>
            
            <br><br>
            <button class="btn btn-dark add-btn">Add </button>
            <br><br>
        </form>

        </div>
        
    </div>
    </body>
