<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>AirBnb</title>
</head>
<body>
    <h3>Create a new Listing</h3><br>
    <form method="post" action="/listings">
            <input name="listing[title]" placeholder="title" type="text"><br><br>
            <textarea name="listing[description]" placeholder="description" type="text"></textarea><br><br>
            <input name="listing[image]" placeholder="image URL/Link" type="text"><br><br>
            <input name="listing[price]" placeholder="price" type="number"><br><br>
            <input name="listing[location]" placeholder="location" type="text"><br><br>
            <input name="listing[country]" placeholder="country" type="text"><br><br>
            <button>Add</button>
    </form>
</body>
</html>