.navbar{
    height: 5rem;
    background-color:#fff ;
}
a{
    color: white;
    text-decoration: none;
}
.fa-compass{

    color:#fe424d;
    font-size: 2rem;
}
.nav-link{
    color: #222222 !important;
}

/*footer section*/
.f-info-socials ,.f-info-links{
    width: 100%;
   
}
.f-info-socials i{
    font-size: 1.2rem;
    margin-right: 1rem;
    margin-right: 1rem;
}

.f-info-links a{
    text-decoration: none;
    color: #222222;
}
.f-info-links a:hover{
    text-decoration: underline;
}
.f-info{
    height: 8rem;
    background: #ebebeb;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items:space-evenly;
    text-align: center;
}
